.SearchResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}

.SearchResult-itemOuter {
  width: 100%;
}

.SearchResult-itemOuter:nth-child(2n+1) {
  background-color: #fff;
}

.SearchResult-item {
  padding: 2rem 0;
  width: 72vw;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.SearchResult-spot {
  margin: 0;
}

.SearchResult-courts {
  color: #888;
  font-size: 0.9rem;
}

.SearchResult-booking {
  font-size: 0.9rem;
  margin: 0.7rem 0;
}

.SearchResult-map {
  position: relative;
  width: 72vw;
  height: 48vw;
  max-width: 720px;
  max-height: 480px;
  overflow: hidden;
}

.SearchResult-map iframe {
  position: absolute;
  border: none;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .SearchResult-item {
    width: 90vw;
  }

  .SearchResult-map {
    width: 90vw;
    height: 60vw;
  }
}