.SearchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: min-height 0.8s;
  overflow: hidden;
  height: 100%;
  padding: 1.5rem 0;
  box-sizing: border-box;
}

.SearchForm-form {
  text-align: center;
}

.SearchForm-title {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.SearchForm-inputs {
  font-size: 1.5rem;
  white-space: nowrap;
  display: inline-block;
}

.SearchForm-inputs > * {
  display: inline-block;
}

.SearchForm-inputs input {
  color: #333;
  background-color: #fff;
  border: 0;
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  font-size: 1.5rem;
  width: 13rem;
  -webkit-appearance: none;
  appearance: none;
}

.SearchForm-inputs span {
  margin: 0 0.5rem;
  white-space: nowrap;
}

.SearchForm-inputs select {
  color: #333;
  background-color: #fff;
  padding: 0.2rem 1rem;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.SearchForm-desc {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  padding: 0.3rem;
  display: inline-block;
  text-align: center;
}

.SearchForm-buttons {
  display: flex;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

.SearchForm-button {
  color: #333;
  background-color: #f2cf01;
  border: none;
  font-size: 1.6rem;
  border-radius: 2rem;
  padding: 0.4rem 1.8rem;
  cursor: pointer;
}

.SearchForm-button svg {
  margin-right: 0.6rem;
}


@media screen and (max-width: 640px) {
  .SearchForm-title {
    font-size: 1.5rem;
  }

  .SearchForm-inputs input {
      width: 9rem;
  }

  .SearchForm-inputs,
  .SearchForm-inputs input,
  .SearchForm-inputs select,
  .SearchForm-desc {
    font-size: 1rem;
  }

  .SearchForm-inputs span,
  .SearchForm-desc {
    margin: 0 0.5rem;
  }

  .SearchForm-button {
    font-size: 1.2rem;
    padding: .3rem 1rem;
  }
}