.SearchResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.SearchResult-itemOuter {
  width: 100%;
}

.SearchResult-itemOuter:nth-child(2n+1) {
  background-color: #fff;
}

.SearchResult-item {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 8rem;
}

.SearchResult-spot {
  margin: 0;
}

.SearchResult-courts {
  color: #888;
  font-size: 0.9rem;
}

.SearchResult-booking {
  font-size: 0.9rem;
  margin: 10px 0;
}

.SearchResult-map iframe {
  width: 600px;
  height: 400px;
  border: none;
}